
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html{
    background-color: white;
    font-family: "Nunito Sans";
    display: flex;
    justify-content: center;
    height: auto;
}
body{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
    
}
header{
    background-color: gray;
    color: black;
    padding: 0 0 30px 0;
    text-align: center;
}

main{
    background-color: black;
    color: white;
    padding: 3rem;
}

.main{
    border: red solid 2px;
    padding: 3rem;
}

.span{
    color: red;
}

footer{
    background: gray;
    padding: 0 20px 0 20px;
    font-size: 8px;
    color: black;
    text-align: right;
}
a:hover{
    font-size: 14px;
    
}